/* @import url('http://fonts.cdnfonts.com/css/product-sans'); */
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Product Sans'), url('./fonts/ProductSans-Regular.woff') format('woff');
}
@tailwind base;
@tailwind components;
@tailwind utilities;